/* FONTS */

@font-face {
    font-family: 'Roboto';
    src: url("./Fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url("./Fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 600;
    font-style: regular;
}

@font-face {
    font-family: 'Roboto';
    src: url("./Fonts/Roboto-Light.ttf") format('truetype');
    font-weight: 400;
    font-style: light;
}

h1,h2,h3,h4,h5,h6,p,a {
    font-family: 'Roboto';
    margin: 0px;
    color: #3F3F3F;
}

.calculator__box {
    position: absolute;
    width: 650px;
    height: 650px;

    background: #FFFFFF;
    box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.09);
    border-radius: 3px;

    display: grid;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 5% 20% 20% 25% 10% 20%;
}

.text__topic {
    font-size: 57px;
    font-weight: bold;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.text__form {
    font-size: 19px;
    font-weight: bold;
    color: #B2B2B2;
}




/* SUM ###################################### */

.calculator__sum {
    height: 100%;
    width: 100%;

    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.calculator__input {
    width: 100%;
    height: 62px;
    margin-top: 12px;
    padding-left: 20px;

    font-size: 30px;
    color: #3F3F3F;

    border: 4px solid #BDD0D1;
    box-sizing: border-box;
}




/* TERM ###################################### */

.calculator__term {
    height: 100%;
    width: 100%;

    grid-column: 2 / 3;
    grid-row: 4 / 5;

    display: grid;
    justify-content: end;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.calculator__term .text__form {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.term__timeline {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.term__timeline h6 {
    font-size: 19px;
    font-weight: bold;
    color: #B2B2B2;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.term__timeline .term__current {
    color: #3F3F3F;
}

.term__line {
    height: 4px;
    width: 100%;
    background-color: #C4C4C4;

    grid-column: 1 / -1;
    grid-row: 3 / 4;

    margin: auto 0px;
}

.term__toggle {    
    width: 36px;
    height: 36px;
    margin: auto 0px;

    background: #FFFFFF;
    border-radius: 50%;
    border: 3px solid #4D8D8D;

    grid-row: 3 / 4;
    grid-column: 1 / -1;
}




/* CHECKBOX ###################################### */

.calculator__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;

    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.calculator__checkbox .container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-top: 8px;
    margin-bottom: 12px;
    cursor: pointer;

    font-family: "Roboto";
    font-size: 19px;
    color: #3F3F3F;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .calculator__checkbox .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .calculator__checkbox .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .calculator__checkbox .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .calculator__checkbox .container input:checked ~ .checkmark {
    background-color: #4D8D8D;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .calculator__checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .calculator__checkbox .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .calculator__checkbox .container .checkmark:after {
    left: 12px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/* RESULT ###################################### */

.calculator__result {    
    width: 100%;
    height: 100%;

    grid-column: 2 / 3;
    grid-row: 6 / 7;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.calculator__result .text__form {
    color: white;
    opacity: 0.7;
}

.calculator__result .text__result {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.calculator__result__background {
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 6 / 7;

    background: #4D8D8D;
    border-radius: 0px 0px 3px 3px;
    z-index: 1;
}